






.test:root {
    --Cursor:pointer;
}

.test {
    background:blue;
    color:red;
    cursor:var(--Cursor);
}


.test:root {
    --Cursor : pointer;
}

.test {
    background : blue;
    color : red;
    cursor : var(--Cursor)
}


:root {
    --Cursor : pointer;
}

.test {
    background-image : blue;
    color : red;
    cursor : var(--Cursor);
}